[submodule "clojure/4clojure"]
	path = clojure/4clojure
	url = git://github.com/Stackato-Apps/4clojure.git
[submodule "clojure/clojuresphere"]
	path = clojure/clojuresphere
	url = git://github.com/Stackato-Apps/clojuresphere.git
[submodule "clojure/live-cljs"]
	path = clojure/live-cljs
	url = git://github.com/Stackato-Apps/live-cljs.git
[submodule "clojure/rageviewer"]
	path = clojure/rageviewer
	url = git://github.com/Stackato-Apps/rageviewer.git
[submodule "clojure/twitter-example"]
	path = clojure/twitter-example
	url = git://github.com/Stackato-Apps/twitter-example.git
[submodule "node/etherpad-lite"]
	path = node/etherpad-lite
	url = git://github.com/Stackato-Apps/etherpad-lite.git
[submodule "perl/mojo-photobooth"]
	path = perl/mojo-photobooth
	url = git://github.com/Stackato-Apps/photobooth.git
[submodule "perl/rubric"]
	path = perl/rubric
	url = git://github.com/Stackato-Apps/rubric.git
[submodule "php/wordpress"]
	path = php/wordpress
	url = git://github.com/Stackato-Apps/af-sample-wordpress.git
[submodule "python/httpbin"]
	path = python/httpbin
	url = git://github.com/Stackato-Apps/httpbin.git
[submodule "python/mezzanine"]
	path = python/mezzanine
	url = git://github.com/Stackato-Apps/mezzanine-stackato.git
[submodule "node/multisweeper"]
	path = node/multisweeper
	url = git://github.com/Stackato-Apps/multisweeper.git
[submodule "go/go-hello"]
	path = go/go-hello
	url = git://github.com/Stackato-Apps/go-hello.git
[submodule "node/node-chat"]
	path = node/node-chat
	url = git://github.com/Stackato-Apps/node-chat.git
[submodule "node/node-env"]
	path = node/node-env
	url = git://github.com/Stackato-Apps/node-env.git
[submodule "perl/bugzilla"]
	path = perl/bugzilla
	url = git://github.com/Stackato-Apps/bugzilla.git
[submodule "perl/catalyst-tut2"]
	path = perl/catalyst-tut2
	url = git://github.com/Stackato-Apps/catalyst-tut2.git
[submodule "perl/catalyst-tut3"]
	path = perl/catalyst-tut3
	url = git://github.com/Stackato-Apps/catalyst-tut3.git
[submodule "perl/catalyst-welcome"]
	path = perl/catalyst-welcome
	url = git://github.com/Stackato-Apps/catalyst-welcome.git
