[submodule "clojure/4clojure"]
	path = clojure/4clojure
	url = git://github.com/Stackato-Apps/4clojure.git
[submodule "clojure/clojuresphere"]
	path = clojure/clojuresphere
	url = git://github.com/Stackato-Apps/clojuresphere.git
[submodule "clojure/live-cljs"]
	path = clojure/live-cljs
	url = git://github.com/Stackato-Apps/live-cljs.git
[submodule "clojure/rageviewer"]
	path = clojure/rageviewer
	url = git://github.com/Stackato-Apps/rageviewer.git
[submodule "clojure/twitter-example"]
	path = clojure/twitter-example
	url = git://github.com/Stackato-Apps/twitter-example.git
[submodule "node/etherpad-lite"]
	path = node/etherpad-lite
	url = git://github.com/Stackato-Apps/etherpad-lite.git
[submodule "perl/mojo-photobooth"]
	path = perl/mojo-photobooth
	url = git://github.com/Stackato-Apps/photobooth.git
[submodule "perl/rubric"]
	path = perl/rubric
	url = git://github.com/Stackato-Apps/rubric.git
[submodule "php/wordpress"]
	path = php/wordpress
	url = git://github.com/Stackato-Apps/af-sample-wordpress.git
[submodule "python/httpbin"]
	path = python/httpbin
	url = git://github.com/Stackato-Apps/httpbin.git
[submodule "python/mezzanine"]
	path = python/mezzanine
	url = git://github.com/Stackato-Apps/mezzanine-stackato.git
[submodule "node/multisweeper"]
	path = node/multisweeper
	url = git://github.com/Stackato-Apps/multisweeper.git
[submodule "go/go-hello"]
	path = go/go-hello
	url = git://github.com/Stackato-Apps/go-hello.git
[submodule "node/node-chat"]
	path = node/node-chat
	url = git://github.com/Stackato-Apps/node-chat.git
[submodule "node/node-env"]
	path = node/node-env
	url = git://github.com/Stackato-Apps/node-env.git
[submodule "perl/bugzilla"]
	path = perl/bugzilla
	url = git://github.com/Stackato-Apps/bugzilla.git
[submodule "perl/catalyst-tut2"]
	path = perl/catalyst-tut2
	url = git://github.com/Stackato-Apps/catalyst-tut2.git
[submodule "perl/catalyst-tut3"]
	path = perl/catalyst-tut3
	url = git://github.com/Stackato-Apps/catalyst-tut3.git
[submodule "perl/catalyst-welcome"]
	path = perl/catalyst-welcome
	url = git://github.com/Stackato-Apps/catalyst-welcome.git
[submodule "ruby/sinatra-rabbitmq"]
	path = ruby/sinatra-rabbitmq
	url = git://github.com/Stackato-Apps/sinatra-rabbitmq.git
[submodule "ruby/rails3-dvdlender"]
	path = ruby/rails3-dvdlender
	url = git://github.com/Stackato-Apps/rails3-dvdlender.git
[submodule "ruby/rails3-prezbuzz"]
	path = ruby/rails3-prezbuzz
	url = git://github.com/Stackato-Apps/rails3-prezbuzz.git
[submodule "ruby/sinatra-env"]
	path = ruby/sinatra-env
	url = git://github.com/Stackato-Apps/sinatra-env.git
[submodule "perl/dancer-helloworld"]
	path = perl/dancer-helloworld
	url = git://github.com/Stackato-Apps/dancer-helloworld.git
[submodule "perl/feersum"]
	path = perl/feersum
	url = git://github.com/Stackato-Apps/feersum.git
[submodule "perl/mason-helloworld"]
	path = perl/mason-helloworld
	url = git://github.com/Stackato-Apps/mason-helloworld.git
[submodule "perl/mojo-helloworld"]
	path = perl/mojo-helloworld
	url = git://github.com/Stackato-Apps/mojo-helloworld.git
[submodule "perl/mojo-scalingdemo"]
	path = perl/mojo-scalingdemo
	url = git://github.com/Stackato-Apps/mojo-scalingdemo.git
[submodule "java/hello-java"]
	path = java/hello-java
	url = git://github.com/Stackato-Apps/hello-java.git
[submodule "java/hello-spring-mysql"]
	path = java/hello-spring-mysql
	url = git://github.com/Stackato-Apps/hello-spring-mysql.git
[submodule "clojure/ring-helloworld"]
	path = clojure/ring-helloworld
	url = git://github.com/Stackato-Apps/ring-helloworld.git
[submodule "perl/starman"]
	path = perl/starman
	url = git://github.com/Stackato-Apps/starman.git
[submodule "php/drupal"]
	path = php/drupal
	url = git://github.com/Stackato-Apps/drupal.git
[submodule "php/phpinfo"]
	path = php/phpinfo
	url = git://github.com/Stackato-Apps/phpinfo.git
[submodule "python/bottle-currency"]
	path = python/bottle-currency
	url = git://github.com/Stackato-Apps/bottle-currency.git
[submodule "python/bottle-py3"]
	path = python/bottle-py3
	url = git://github.com/Stackato-Apps/bottle-py3.git
[submodule "python/celery-demo"]
	path = python/celery-demo
	url = git://github.com/Stackato-Apps/celery-demo.git
[submodule "python/cherrypy-py3"]
	path = python/cherrypy-py3
	url = git://github.com/Stackato-Apps/cherrypy-py3.git
[submodule "python/django-bookbuzz"]
	path = python/django-bookbuzz
	url = git://github.com/Stackato-Apps/django-bookbuzz.git
[submodule "python/django-default"]
	path = python/django-default
	url = git://github.com/Stackato-Apps/django-default.git
[submodule "python/django-gtd"]
	path = python/django-gtd
	url = git://github.com/Stackato-Apps/django-gtd.git
[submodule "python/moin"]
	path = python/moin
	url = git://github.com/Stackato-Apps/moin.git
[submodule "python/pinax-social"]
	path = python/pinax-social
	url = git://github.com/Stackato-Apps/pinax-social.git
[submodule "python/pyramid-default"]
	path = python/pyramid-default
	url = git://github.com/Stackato-Apps/pyramid-default.git
[submodule "python/pyramid-simplest"]
	path = python/pyramid-simplest
	url = git://github.com/Stackato-Apps/pyramid-simplest.git
[submodule "python/pyramid-virginia"]
	path = python/pyramid-virginia
	url = git://github.com/Stackato-Apps/pyramid-virginia.git
